Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
BreakBeforeBraces: Custom
ColumnLimit: 100
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Middle
ReflowComments: false

IncludeCategories:
  - Regex: <[a-z_]*>
    Priority: 6
    CaseSensitive: true
  - Regex: <.*\.h>
    Priority: 5
    CaseSensitive: true
  - Regex: boost/.*
    Priority: 4
    CaseSensitive: true
  - Regex: .*_msgs/.*
    Priority: 3
    CaseSensitive: true
  - Regex: .*_srvs/.*
    Priority: 3
    CaseSensitive: true
  - Regex: <.*>
    Priority: 2
    CaseSensitive: true
  - Regex: '".*"'
    Priority: 1
    CaseSensitive: true